<!-- Modal Title -->
<div class="p-5 border-b border-gray-200 position-relative">
  <h2 class="text-lg font-semibold text-gray-800">Save number(s) to...</h2>

  <!-- Close Button -->
  <button type="button" class="btn btn-sm btn-icon btn-active-light-primary" style="
    position: absolute;
    top: 0;
    right: 0;
" (click)="close()"><i class="ki-duotone ki-cross fs-2"></i></button>
</div>

<!-- Scrollable Ticket List -->
<div #scrollContainer class="max-h-[320px] overflow-y-auto p-5 space-y-2">
  <!-- New Ticket Inline Input -->
  <div *ngIf="addingNew" class="flex items-center gap-3">
    <input
      #ticketInput
      type="text"
      [(ngModel)]="newTicketName"
      placeholder="Ticket name"
      class="form-control form-control-sm w-full"
    />
    <button class="btn btn-icon btn-sm btn-light-success" (click)="addNewTicket()">
      <i class="ki-duotone ki-check fs-2 text-success"></i>
    </button>
    <button class="btn btn-icon btn-sm btn-light-danger" (click)="cancelNewTicket()">
      <i class="ki-duotone ki-cross fs-2 text-danger"></i>
    </button>
  </div>

  <!-- Ticket Items -->
  <div
    *ngFor="let ticket of tickets"
    class="d-flex justify-content-between align-items-center border rounded px-4 py-2 hover:bg-light"
  >
    <div class="form-check form-check-custom form-check-solid">
      <input
        class="form-check-input"
        type="checkbox"style="margin-top: 0; margin-bottom: 0; transform: translateY(1px);"
        [attr.title]="'Add plays to this ticket'"
      />
      <label class="form-check-label text-gray-700 ms-3 d-flex justify-content-between w-100">
        <span>{{ ticket.name }}</span>
        <span class="text-muted small ms-0-8 small-subtext" [attr.title]="(ticket.playCount || 0) + ' play' + ((ticket.playCount || 0) === 1 ? '' : 's')">({{ ticket.playCount || 0 }})</span>
      </label>

    </div>
  </div>

  <!-- Empty State -->
  <div class="text-center text-gray-500 italic" *ngIf="tickets.length == 0 && !addingNew">
    No tickets found. Start by adding one.
  </div>
</div>

<!-- Modal Footer -->
<div class="p-5 border-t border-gray-200 d-flex justify-content-between">
  <button
    class="btn btn-primary w-100 rounded-pill"
    *ngIf="!addingNew"
    (click)="startAddingTicket()"
  >
    <i class="ki-duotone ki-plus fs-2 me-1"></i>
    New ticket
  </button>
</div>
